<h1>Action Cable Examples</h1>

<p>
  Hello <%= @current_user.name %>
  (<%= link_to 'Logout', session_path, method: :delete %>)!
</p>

<ul>
  <li><%= link_to 'Messages with live comments', messages_path %></li>
</ul>

<section id="notes-list" style="border: 1px solid">
  <% @notes.each do |note| %>
    <%= render partial: 'examples/note', :locals => { note: note } %>
  <% end %>
</section>

<div id="new_note">
  <%= render partial: 'form' %>
</div>